<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/d74a3cd9ba.js" crossorigin="anonymous"></script>

    <title>Thanks for the contribution</title>
  </head>
  <body>
    <div class="container">
        <!-- navbar component from getbootstrap.com  -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-top: 1px">
          <a class="navbar-brand" href="/auth">Home</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
              <!-- <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a> -->
              <a class="nav-item nav-link" href="/contribute">Contribute</a><!-- Internal page links -->
              <a class="nav-item nav-link" href="https://git.cse.iitb.ac.in/adityajainiitb/Codigos_AEG">About</a><!-- Internal page links -->
              <a class="nav-item nav-link" href="#links"></a><!-- Internal page links -->
              <a class="nav-item nav-link" href="/">Logout</a>
            </div>
          </div>
          
        </nav>

        <br />

        <div class="jumbotron">
          <!-- <h1 class="display-4 text-center" style="font-size: 7em;">{{score}}/60</h1> -->
          <!-- <br /> -->
          <p class="lead">{{message}}</p>
          <hr class="my-4">
          <p class="text-center">Essay: {{essay}}</p>
          <hr class="my-4">
          <p class="text-center">Score: {{score}}</p>
          <!-- <p class="lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates architecto ipsam laborum accusantium soluta earum facere neque! Qui tempora totam sit, corrupti, harum esse natus, deserunt consequatur quidem perferendis magni.
          </p>
          <p class="lead">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. At animi alias accusantium ex magnam architecto. Dicta fuga impedit ducimus quaerat possimus repellat quidem necessitatibus, iste, sapiente minima corporis fugiat consectetur.
          </p>
          <p class="lead">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda asperiores tempore harum eveniet nostrum nobis numquam consectetur cupiditate! Alias quo, iure ipsam nesciunt similique aperiam quas accusantium cupiditate! Quibusdam, architecto!
          </p> -->
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>